.div1, .div2, .div3, .div4 {
    height: 200px;
    width: 100%;
}

.div1 {
    background-color: tomato;
}

.div2 {
    background-color: #52aba5;
}

.div3 {
    background-color: crimson;
}

.div4 {
    background-color: goldenrod;
}

.hide {
    display: none;
}